{% load static %}

<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <h1>VROOM</h1>
        </div>
        <div class="footer-info">
            <h3>Contact Us</h3>
            <p>Email: Vroom@example.com</p>
            <p>Phone: 1234567890</p>
            <p>Address: Boudha, Kathmandu, Nepal</p>
        </div>
        <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'carlisting' %}?value=All">Car Listing</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h3>Follow Us</h3>
            <ul>
                <li><a href="#"><img src="{% static 'img/facebook.png' %}" alt="Facebook"></i></a></li>
                <li><a href="#"><img src="{% static 'img/instagram.png' %}" alt="Instagram"></i></a></li>
                <li><a href="#"><img src="{% static 'img/linkedin.png' %}" alt="Linkedin"></i></a></li>
                <li><a href="#"><img src="{% static 'img/twitter.png' %}" alt="Twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </div>
  </footer>
  
  <style>

    @import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&display=swap");
  
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
   footer {
      background-color: #16425b;
      color: #d9dcd6;
      padding: 20px 0;
  }
  
  .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1500px;
      height: 15vh;
      margin: 0 auto;
  }
  
  
  .footer-logo ,.footer-info, .footer-links, .footer-social {
      flex: 1;
      margin: 0 20px;
  }
  
  .footer-logo{
    text-align: center;
  }
  
  .footer-info{
    margin: 0;
    margin-right: 5vw;
  }
  
  
  .footer-info h3, .footer-links h3{
    padding-bottom: 10px;
  }
  
  .footer-links ul, .footer-social ul {
      list-style: none;
      padding: 0;
  }
  
  
  .footer-links ul li a, .footer-social ul li a {
      color: #d9dcd6;
      text-decoration: none;
  }
  
  .footer-social ul {
      list-style: none;
      padding: 0;
      display: flex;
  }
  
  .footer-social ul li a {
      display: inline-block;
      margin:10px 15px 0px 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden; 
      background-color: #fff;
      text-align: center;
      line-height: 40px;
      transition: background-color 0.3s ease;
  }
  
  .footer-social ul li a:hover {
      background-color: #ccc;
  }
  
  .footer-social img{
    height: 40px;
    width: 40px;
    border-radius: 90;
  }
  
  .footer-bottom {
      text-align: center;
      margin-top: 30px;
  }
  
  .footer-bottom p {
      margin: 0;
  }
  </style>