<!-- navbar -->
{% load static %}

<nav id="navbar">
  <div class="nav-container">
    <div class="nav-left">
      <a href="{% url 'index' %}"><h1>VROOM</h1></a>
    </div>
    <div class="nav-right">
      <ul class="nav-list">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about_us' %}">About Us</a></li>
        <li><a href="{% url 'carlisting' %}?value=All">Book Cars</a></li>
        {% if user.is_authenticated%}
        <li class="profile-icon">
          <a href="#" class="profile-dropdown">
            <img
              src="{% static 'img/profileicon.png' %}"
              alt="User profile icon"
            />
            <ul class="dropdown-menu">
              {% if user.is_staff %}
              <li><a href="{% url 'staff_profile' %}">My Profile</a></li>
              {% else %}
              <li><a href="{% url 'user_profile' %}">My Profile</a></li>
              {% endif %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </a>
        </li>
        {% else %}
        <li><a href="{% url 'signup' %}">SignUp</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% if request.path == '/' %}
<script>
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 80 ||
      document.documentElement.scrollTop > 80
    ) {
      document.getElementById("navbar").classList.add("scrolled");
    } else {
      document.getElementById("navbar").classList.remove("scrolled");
    }
  }
</script>
<style>
  #navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 9vh;
    background-color: transparent;
    padding: 20px 10px 10px 10px;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
</style>

{% else %}
<style>
  #navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 9vh;
    background-color: var(--indigo);
    padding: 20px 10px 10px 10px;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
</style>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var profileIcons = document.querySelectorAll(".profile-icon");

    profileIcons.forEach(function (profileIcon) {
      var profileDropdown = profileIcon.querySelector(".profile-dropdown");
      var dropdownMenu = profileIcon.querySelector(".dropdown-menu");

      profileDropdown.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default action
        event.stopPropagation(); // Stop event propagation

        dropdownMenu.classList.toggle("show");
      });

      // Close dropdown when clicking outside
      window.addEventListener("click", function (event) {
        if (!profileIcon.contains(event.target)) {
          dropdownMenu.classList.remove("show");
        }
      });
    });
  });
</script>

<style>
    :root {
    --indigo: #16425b;
    --lapis: #2f6690;
    --cerulean: #3a7ca5;
    --skyblue: #81c3d7;
    --platinum: #d9dcd6;
  }

  #navbar.scrolled {
    background-color: var(--indigo);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-right,
  .nav-left {
    padding: 10px;
    padding-top: 0;
  }

  .nav-list {
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }

  .nav-list li {
    height: 40px;
    padding-top: 10px;
    margin: 0 10px;
  }

  .nav-list li a {
    color: var(--platinum);
    margin-right: 20px;
    font-weight: 400;
    font-size: 1.3em;
    position: relative;
    transition: color 0.3s ease;
    padding-right: 10px;
  }

  .nav-list li a:hover {
    color: white;
  }

  .nav-list li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--platinum);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .nav-list li a:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }

  .nav-left h1 {
    color: var(--platinum);
    padding: 10px 20px ;
  }

  .profile-icon img {
    margin-top: -10px;
    width: 40px;
    height: 40px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #16425b; 
    color: #fff; 
    min-width: 160px;
    z-index: 1;
    top: calc(100% + 10px);
    right: 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .dropdown-menu.show {
    display: block;
  }
</style>
