{% extends 'partials/base.html' %} 
{% load static %} 
{% block title %} About
Us{% endblock %} {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="middle">
        <div id="company"><p>VROOM. Ltd.</p></div>
        <h2>Best vehicle rental service</h2>
        <p>Embark on a Journey of Beauty and Adventure in Nepal! Discover a land of breathtaking landscapes, majestic mountains, and vibrant cultural heritage. Max Vehicle Rental, your trusted travel partner, is here to make your trip to Nepal unforgettable with best vehicle rental service in nepal . 
          </p>
          <div id="both">
            <img src="img/side.jpeg" alt=""> 
            <p>
              Experience the awe-inspiring beauty of the Himalayas as you trek through picturesque valleys and charming villages. Mount Everest, the highest peak in the world, beckons adventure seekers. Immerse yourself in the rich cultural heritage of Nepal as you explore ancient cities, temples, and shrines. Witness vibrant festivals and indulge in thrilling adventures like white-water rafting, paragliding, and mountain biking. 
              <br><br>
              With Max Vehicle Rental, your journey is in safe hands. Choose from a wide range of vehicles, including cars, buses, vans, and bikes, ensuring comfort and safety throughout your travels. Our dedicated team of travel experts is available 24/7 to provide personalized attention and care, making your trip hassle-free and enjoyable. Experience sustainable tourism as we work closely with local communities, promoting responsible travel practices and empowering the people. 
              <br><br>
              Unleash the magic of Nepal with Max Vehicle Rental. Start planning your dream trip today and create memories that will last a lifetime. Let us be your gateway to an extraordinary adventure in the land of beauty and wonder.
            </p>
          </div>
          <br>
    
          <div id="company"><p>Why,  VROOM?</p></div>
            <ul>
              <li>We provide luxury and comfortable vehicles</li>
              <li>Our vehicles are always clean and in excellent condition</li>
              <li>We have experienced drivers for Nepal tour and trekking destinations</li>
              <li>Our drivers are friendly, experienced, and always punctual</li>
              <li>All our vehicles have insurance</li>
              <li>We offer anytime service to Nepal's touristic places</li>
              <li>We provide reasonable prices and excellent value for money</li>
              <li>We have a team with years of experience</li>
              <li>We offer online vehicle rental services and accept online payments</li>
            </ul>     
      </div>
</body>
<style>
       
</style>
</html>

{% endblock %}
