{% extends 'partials/base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-vWtPOzvV2LtoJMdIo6HfT94oZD8/eeFh0I+1wT6h7ggzmg+7Z0WgVpY+P6r+Qv26" crossorigin="anonymous">

<section class="hero">
  <div class="heading">
    <h1>About Us</h1>
  </div>
  <div class="container">
    <div class="hero-content">
      <h2>Welcome to Vroom Car Rental</h2>
      <p>"Welcome to Vroom Vehicle Rental, where each trip is a mix of luxury and simplicity. Begin your adventure today
        and immerse yourself in the continual excellence of motion. Our carefully selected fleet, tailored to match all
        of your requirements, ensures that every journey with Vroom is an unforgettable experience. Discover the joy of
        discovery with us, where each drive tells a story of comfort and style."</p>
      <button class="cta-button">Learn More</button>
    </div>
  
  

    <!-- setting count variables -->
    <script>
      let totalDistributorCount = 0;
      let totalUserCount = 0;
    </script>

    <div class="content">
      <div id="default-content">
        <h1>Welcome Admin!!</h1>
        <!-- Default dashboard content goes here -->
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <p class="error">{{ message }}</p>
        {% endif %}
        {% if message.tags == 'success' %}
        <p class="success">{{ message }}</p>
        {% endif %}
        {% endfor %}
        {% endif %}

        <div id="card">
          <div class="card" id="distributor_card">
            <h3>Distributor Information</h3>
            <label id="TotalDistributors">
              <i class="fas fa-users"></i>
              <span id="distributor-count">5</span>
            </label>
            <label id="Location">
              <i class="fas fa-map-marker-alt"></i>
              <span id="location-count">5</span>
            </label>
          </div>
          <div class="card" id="user_card">
            <h3>User Information</h3>
            <label id="verified">
              <i class="fas fa-user-check"></i>
              <span id="verified-count">5</span>
            </label>
            <label id="unverified">
              <i class="fas fa-user-times"></i>
              <span id="unverified-count">3</span>
            </label>
          </div>
        </div>

        <h1>Recent User</h1>
         <!-- table to show distributor information -->
         <table>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Location Incharge</th>
          </tr>
          {% for user in recent_users %}
          <tr>
            <td>{{ user.user.username }}</td>
            <td>{{ user.user.email }}</td>
            <td>{{ user.user.get_full_name }}</td>
            <td>{{ user.contact }}</td>
            <td>{{ user.address }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div id="distributor-content">
        <h2>Distributor Information</h2>
        <!-- buttons to add and delete distributor -->
        <button id="distributor-add-btn">Add</button>
        <button id="distributor-edit-btn">Edit</button>
        <button id="distributor-delete-btn">Delete</button>
        <!-- table to show distributor information -->
        <table>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Location Incharge</th>
          </tr>
          {% for user_detail in user_details %}
          {% if '.vroom@gmail.com' in user_detail.user.email and user_detail.user.is_staff %}
          <script>
            totalDistributorCount++;
          </script>
          <tr>
            <td>{{ user_detail.user.username }}</td>
            <td>{{ user_detail.user.email }}</td>
            <td>{{ user_detail.user.get_full_name }}</td>
            <td>{{ user_detail.contact }}</td>
            <td>{{ user_detail.address }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>

        <!-- popup to add distributor -->
        <div class="popup" id="addDistributorPopup">
          <div class="popup-content">
            <span class="close" onclick="closePopup('addDistributorPopup')">&times;</span>
            <h2>Add Distributor</h2>

            <form id="addDistributorForm" method="post">
              {% csrf_token %}
              <label for="distributorFirstName">First Name:</label><br />
              <input type="text" id="FirstName" name="FirstName" required /><br />

              <label for="distributorLastName">Last Name:</label><br />
              <input type="text" id="LastName" name="LastName" required /><br />

              <label for="username">Username:</label><br />
              <input type="text" id="username" name="username" required /><br />

              <label for="email">Email:</label><br />
              <input type="email" id="email" name="email" required /><br />

              <label for="location">Location Incharge:</label><br />
              <input type="text" id="location" name="location" required /><br />

              <label for="password">Password:</label><br />
              <input type="password" id="password" name="password" required /><br />

              <label for="contactNumber">Contact Number:</label><br />
              <input type="text" id="contactNumber" name="contactNumber" required /><br />

              <button type="submit" name="addDistributor">
                Add Distributor
              </button>
            </form>
          </div>
        </div>

        <!-- Popup to edit distributor -->
        <div class="popup" id="editDistributorPopup">
          <div class="popup-content">
            <span class="close" onclick="closePopup('editDistributorPopup')">&times;</span>
            <h2>Edit Distributor</h2>
            <form id="editDistributorForm" method="post">
              {% csrf_token %}

              <!-- email for identifying distributors to edit -->
              <p>Enter email of the distributor to edit</p>
              <label for="editEmail">Email:</label><br />
              <input type="email" id="editEmail" name="editEmail" required /><br />

              <!-- Input fields for editing distributor details -->
              <p>Enter new distributor details</p>
              <label for="editDistributorFirstName">First Name:</label><br />
              <input type="text" id="FirstName" name="FirstName" required /><br />

              <label for="editDistributorLastName">Last Name:</label><br />
              <input type="text" id="LastName" name="LastName" required /><br />

              <label for="editUsername">Username:</label><br />
              <input type="text" id="editUsername" name="editUsername" required /><br />

              

              <label for="editLocation">Location Incharge:</label><br />
              <input type="text" id="editLocation" name="editLocation" required /><br />

              <label for="editPassword">Password:</label><br />
              <input type="password" id="editPassword" name="editPassword" required /><br />

              <label for="editContactNumber">Contact Number:</label><br />
              <input type="text" id="editContactNumber" name="editContactNumber" required /><br />

              <button type="submit" name="editDistributor">
                Update Distributor
              </button>
            </form>
          </div>
        </div>

        <!-- popup to delete distributor -->
        <div class="popup" id="deleteDistributorPopup">
          <div class="popup-content">
            <span class="close" onclick="closePopup('deleteDistributorPopup')">&times;</span>
            <h2>Delete Distributor</h2>
            <form method="post" id="deleteDistributor">
              {% csrf_token %}
              <label for="distributorID">Distributor ID:</label><br />
              <input type="text" id="distributorID" name="distributorID" />
              <button type="submit" name="deleteDistributor">Delete</button>
            </form>
          </div>
        </div>
      </div>

      <div id="user-content">
        <h2>User Information</h2>
        <!-- buttons to add ,edit and delete user -->
        <button id="user-add-btn">Add</button>
        <button id="user-edit-btn">Edit</button>
        <button id="user-delete-btn">Delete</button>
        <!-- table to show user information -->
        <table>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>License Number</th>
            <th>Contact Number</th>
            <th>Address</th>
          </tr>
          {% for user_detail in user_details %}
          {% if not user_detail.user.is_staff %}
          <script>
            totalUserCount++;
          </script>
          <tr>
            <td>{{ user_detail.user.get_full_name }}</td>
            <td>{{ user_detail.user.username }}</td>
            <td>{{ user_detail.user.email }}</td>
            <td>{{ user_detail.license_number }}</td>
            <td>{{ user_detail.contact }}</td>
            <td>{{ user_detail.address }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>

        <!-- popup to add user -->
        <div class="popup" id="addUserPopup">
          <div class="popup-content">
            <span class="close" onclick="closePopup('addUserPopup')">&times;</span>
            <h2>Add User</h2>
            <form id="addUserForm" method="post">
              {% csrf_token %}
              <label for="FirstName">First Name:</label><br />
              <input type="text" id="FirstName" name="FirstName" required /><br />

              <label for="LastName">Last Name:</label><br />
              <input type="text" id="LastName" name="LastName" required /><br />

              <label for="username">Username:</label><br />
              <input type="text" id="username" name="username" required /><br />

              <label for="email">Email:</label><br />
              <input type="email" id="email" name="email" required /><br />

              <label for="location">Address:</label><br />
              <input type="text" id="location" name="location" required /><br />

              <label for="password">Password:</label><br />
              <input type="password" id="password" name="password" required /><br />

              <label for="contactNumber">Contact Number:</label><br />
              <input type="text" id="contactNumber" name="contactNumber" required /><br />

              <label for="license_number">License Number:</label><br />
              <input type="text" id="license_number" name="license_number" required /><br />

              <button type="submit" name="addUser">
                Add User
              </button>
            </form>
          </div>
        </div>


        <!-- Popup to edit user -->
        <div class="popup" id="editUserPopup">
          <div class="popup-content">
            <span class="close" onclick="closePopup('editUserPopup')">&times;</span>
            <h2>Edit User</h2>
            <form id="editUserForm" method="post">
              {% csrf_token %}
              <!-- Input fields for editing user details -->
              <label for="editUserFirstName">First Name:</label><br />
              <input type="text" id="FirstName" name="FirstName" required /><br />

              <label for="editUserLastName">Last Name:</label><br />
              <input type="text" id="LastName" name="LastName" required /><br />

              <label for="editUsername">Username:</label><br />
              <input type="text" id="username" name="username" required /><br />

              <label for="editEmail">Email:</label><br />
              <input type="email" id="email" name="email" required /><br />

              <label for="editAddress">Address:</label><br />
              <input type="text" id="address" name="address" required /><br />

              <label for="editPassword">Password:</label><br />
              <input type="password" id="password" name="password" required /><br />

              <label for="editContactNumber">Contact Number:</label><br />
              <input type="text" id="contactNumber" name="contactNumber" required /><br />

              <label for="editLicenseNumber">License Number:</label><br />
              <input type="text" id="license_number" name="license_number" required /><br />

              <button type="submit" name="editUser">
                Update User
              </button>
            </form>
          </div>
        </div>

        <!-- popup to delete user -->
        <div class="popup" id="deleteUserPopup">
          <div class="popup-content">
            <span class="close" onclick="closePopup('deleteUserPopup')">&times;</span>
            <h2>Delete User</h2>
            <label for="userID">User ID:</label><br />
            <input type="text" id="userID" name="userID" />
            <button onclick="deleteUser()">Delete</button>
          </div>
        </div>
      </div>
      <p>The creative mind behind our 'About Us' page, blending design flair with frontend expertise to craft an
        immersive and visually captivating narrative of our brand story.</p>
    </div>
  </div>
</section>

<style>
* {
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.hero {
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.heading h1 {
  color: #000000;
  font-size: 55px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 65px auto;
}

.hero-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;
}

.hero-content h2 {
  margin-top: 10px;
  font-size: 38px;
  margin-bottom: 20px;
  color: #653939;
}

.hero-content p {
  text-align: justify;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #1a1717;
}

.hero-content button {
  display: inline-block;
  background-color: #300973;
  color: #e1cccc;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hero-content button:hover {
  background: color #0f1b79;
  transform: scale(1.1);
}

.hero-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }

  .hero {
    margin: 0px;
  }

  /* Sidebar styles */
  .sidebar {
    float: left;
    width: 15vw;
    background-color: var(--indigo);
    height: 100vh;
  }

  .sidebar i{
    color: var(--white);
    margin-left: 50px;
    margin-right: 10px;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8vh;
  }

  .sidebar li {
      margin-bottom: 10px;
  }

  .sidebar a {
      font-size: 25px;
      width: 15vw;;
      text-decoration: none;
      color: var(--white);
      display: block;
      margin-top: 50px;
  }

  .sidebar a:hover {
      cursor: pointer;
  }

  /* Log Out button styles */
  #logout {
      position: absolute;
      bottom: 30px;
      left: 0;
    }

  /* Content styles */
  .content {
    float: left;
    width: 80%;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
  }

  /* Card styles */
  .card {
    height: 35vh;
    width: 18vw;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .hero-content button {
    font-size: 16px;
    padding: 8px 16px;
  }


  .card label {
   font-size: 40px;
   margin-right: 80px;
  }

  #Location i{
    color: var(--indigo);
  }
  #unverified i{
    color: var(--red);
  }
  #verified i{
    color: var(--green);
  }

  .card h3{
    font-size: 30px;
  }


  #default-content #card {
    display: flex;
  }

  #distributor_card,
  #user_card {
    width: 40vw;
    height: 25vh;
  }

  #distributor_card {
    background-color: var(--cerulean);
    color: var(--white);
  }

  #user_card {
    background-color: var(--platinum);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

.title-box {
  text-align: center;
}

.center {
  margin: 0 auto;
  max-width: 600px;
}

.title-box h2 {
  color: #000000;
  font-size: 55px;
  text-align: center;
  margin-top: 220px;
}

.title-box p {
  font-size: 24px;
  line-height: 24px;
  margin-top: 20px;
  color: #1a1717;
}

.profile-box {
  width: 360px;
  height: 330px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  transition: background 0.5s;
}

.profile-box img {
  width: 110px;
  position: absolute;
  top: 10px;
  right: 30px;
  border-radius: 4px;
  transition: 0.5s;
}

.profile-box h4 {
  margin-top: 25px;
  margin-bottom: 5px;
  color: #0f1b79;
}

small {
  color: #555;
}

.social-box {
  background: #0f1b79;
  margin: 60px auto 20px;
  text-align: center;
  border-radius: 3px;
}

.social-box .fa {
  margin: 5px;
  color: #fff;
  cursor: pointer;
}

.profile-box p {
  padding-top: 20px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.4;
  color: #555;
}

.Member-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  width: 110%;
  margin: 100px auto;
}

.profile-box img:hover {
  width: 250px;
}

.profile-box:hover {
  background-color: #266c94;
}
</style>
{% endblock %}