{% extends 'partials/base.html' %} {% load static %} {% block title %} VROOM -
Car Details{% endblock %} {% block content %}
<div class="main-container">
    <div id="main">
        {% if details %}
        {% for detail in details %}
        <!--  Car Image -->
        <div id="image">
            <img src="{{ detail.image }}" alt="Car Image" />
          </div>
          <div id="details">
            <div id="model">
              <p>{{ detail.car_model }}</p>
            </div>
            <div id="name">
              <p>{{ detail.renter_name }}</p>
            </div>
            <div id="price">
              <p>{{ detail.price }}</p>
            </div>
        
        <form id="booking-form" method="post">
            {% csrf_token %}

        <!-- hidden fields for identififying product -->
        <input type="hidden" id="renter_contact" name="renter_contact" value="{{ detail.renter_contact }}">
        <input type="hidden" id="car_model" name="car_model" value="{{ detail.car_model }}">
        <input type="hidden" id="renter_name" name="renter_name" value="{{ detail.renter_name }}">

          <!--  Date and Time Picker -->
          <label for="bookingStartDate">Booking Start Date:</label><br />
          <input type="date" id="bookingStartDate" name="bookingStartDate" /><br />
          <label for="bookingEndDate">Booking End Date:</label><br />
          <input type="date" id="bookingEndDate" name="bookingEndDate" /><br /><br />
          <a href="{% url 'carlisting' %}?value=All">
            <button id="home">Back</button>
          </a>
          <button id="book" type="submit">Book</button>
        </form>
          {% endfor %}
        {% else %}
        <h1>Car not available or booking completed</h1>
        {% endif %}

          <!-- popup -->
          <div class="popup" id="popup">
            <div class="popup-content">
              <span class="close" onclick="closePopup()">&times;</span>
              <h2>Booking Requested</h2>
              <p>Your booking request has been submitted.</p>
            </div>
          </div>
        </div>
        
      </div>
      
</div>
    <script>
        // Function to display the popup
        function showPopup() {
            document.getElementById("popup").style.display = "flex";
        }

        // Function to close the popup
        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }

        // Add event listener to the button
        document.getElementById("book").addEventListener("click", showPopup);
    </script>
    
<style>

    :root {
        --indigo: #16425b;
        --lapis: #2f6690;
        --cerulean: #3a7ca5;
        --skyblue: #81c3d7;
        --platinum: #d9dcd6;
        --darkgray: #b4b4b3;
    }

    .main-container {
    width: 90vw;
    margin: 0 5%;
    margin-top: 10vh;
    min-height: 65.4vh;
    padding-top: 5vh;
  }
    #main{
        width: 80vw;
        height: 50vh;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border: 1px solid black;
        border-radius: 20px;
    }
    #image{
        width: 50%;
    }
    #image img{
        padding: 5%;
        width: 90%;
        height: 90%;
    }
    #details{
        width: 40%;
        font-size: 3vh;
        font-weight: 800;
    }
    #details button{
        background-color: var(--lapis);
        height: 40px;
        width: 100px;
        font-size: 2vh;
        color: var(--platinum);
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }
    #details button:hover{
        background-color:var(--indigo);
    }
    .popup {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }

    .popup-content {
        background-color: #fefefe;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
</style>
{% endblock %}