{% extends 'partials/base.html' %} {% load static %} {% block title %} VROOM
{%endblock %} {% block content %}
<!-- main display -->
<div id="slogan">
  <div id="text">
    <p><br />Travel Anywhere<br />You Want</p>

    {% if user.is_authenticated %}
    <a href="{% url 'carlisting' %}">
      <button id="bookBtn">Book Now</button>
    </a>
    {% else %}
    <button id="bookBtn">Book Now</button>
    {% endif %}
    <div id="loginPopup" class="popup">
      <div class="popup-content">
        <img
          src="{% static 'img/loginpopup.jpg'%}"
          alt="Image"
          class="popup-img"
        />

        <!-- login block -->
        <div class="login-form">
          <span class="close" onclick="closePopup()">&times;</span>
          <h2>Login</h2>
          <form id="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username_or_email">Username or Email</label><br>
              <input
                type="text"
                name="username_or_email"
                id="username_or_email"
                placeholder="Enter your username or email"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Enter your password"
                required
              />
            </div>
            <div class="form-group">
              <a href="{% url 'reset_password' %}">Forgot your password?</a><a class="title" href="{% url 'signup' %}">Sign Up</a>

            </div>
            
            
            <button type="submit">Sign In</button>
          </form>
          <div class="message">
            {% for message in messages %} {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %} {% endfor %}
          </div>
        </div>
        <!-- login block -->
      </div>
    </div>
  </div>
</div>
<!-- types of cars -->
<div id="types">
  <p id="title">Categories</p>

  <div id="category">
    <div class="suv">
      <a href="{% url 'carlisting' %}?value=SUV">
        <img src="{% static 'img/suv.png' %}" alt="Image 1" />
        <p>SUV</p>
      </a>
    </div>
    <div class="ev">
      <a href="{% url 'carlisting' %}?value=EV">
        <img src="{% static 'img/ev.png' %}" alt="Image 2" />
        <p>EV</p>
      </a>
    </div>
    <div class="truck">
      <a href="{% url 'carlisting' %}?value=Truck">
        <img src="{% static 'img/truck.png' %}" alt="Image 3" />
        <p>Truck</p>
      </a>
    </div>
    <div class="sedan">
      <a href="{% url 'carlisting' %}?value=Sedan">
        <img src="{% static 'img/sedan.png' %}" alt="Image 4" />
        <p>Sedan</p>
      </a>
    </div>
  </div>
<!-- different brands -->
  <div id="brand">Top Brands</div>
  <div id="brand-upper">
    <div class="Suzuki">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/suzuki.png' %}" alt="Image 1" />
        <p>Suzuki</p>
      </a>
    </div>
    <div class="Tata">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/tata.png' %}" alt="Image 1" />
        <p>Tata</p>
      </a>
    </div>
    <div class="Kia">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/kia.png' %}" alt="Image 1" />
        <p>Kia</p>
      </a>
    </div>
    <div class="Toyota">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/toyota.png' %}" alt="Image 1" />
        <p>Toyota</p>
      </a>
    </div>
    <div class="Hyundai">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/hyundai.png' %}" alt="Image 1" />
        <p>Hyundai</p>
      </a>
    </div>
    <div class="Mahindra">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/mahindra.png' %}" alt="Image 1" />
        <p>Mahindra</p>
      </a>
    </div>
  </div>
  <div id="brand-lower">
    <div class="Honda">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/honda.png' %}" alt="Image 1" />
        <p>Honda</p>
      </a>
    </div>
    <div class="MG">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/mg.png' %}" alt="Image 1" />
        <p>MG</p>
      </a>
    </div>
    <div class="Skoda">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/skoda.png' %}" alt="Image 1" />
        <p>Skoda</p>
      </a>
    </div>
    <div class="Jeep">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/jeep.png' %}" alt="Image 1" />
        <p>Jeep</p>
      </a>
    </div>
    <div class="Renault">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/renault.png' %}" alt="Image 1" />
        <p>Renault</p>
      </a>
    </div>
    <div class="Nissan">
      <a href="{% url 'carlisting' %}">
        <img src="{% static 'img/nissan.png' %}" alt="Image 1" />
        <p>Nissan</p>
      </a>
    </div>
  </div>
</div>
<!-- why choose vroom page -->
<div id="vroom">
  <h2 id="vroom-title">Why Choose Us?</h2>
  <ol id="vroom-list">
    <li>Wide range of vehicles.</li>
    <li>Quick and easy process.</li>
    <li>Well-maintained vehicles.</li>
    <li>Competitive pricing.</li>
    <li>Flexible rental options.</li>
    <li>Customer satisfaction is our top priority.</li>
    <li>Strive to exceed your expectations.</li>
  </ol>
</div>

{% if not user.is_authenticated %}
<script>
  const bookBtn = document.getElementById("bookBtn");
  const loginPopup = document.getElementById("loginPopup");

  bookBtn.addEventListener("click", () => {
    loginPopup.style.display = "block";
  });

  function closePopup() {
    loginPopup.style.display = "none";
  }
</script>
{% endif %}

<style>
  :root {
    --indigo: #16425b;
    --lapis: #2f6690;
    --cerulean: #3a7ca5;
    --skyblue: #81c3d7;
    --platinum: #d9dcd6;
    --darkgray: #b4b4b3;
  }

  body {
    margin: 0;
    padding-top: 0;
    overflow-x: hidden;
  }

  .popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup-content {
    color: #000;
    background-color: var(--platinum);
    margin: 15vh auto;
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
  }

  .popup-img {
    width: 50%;
    height: 100%;
  }

  .login-form {
    padding: 20px;
    width: 40%;
    font-size: 40px;
    font-weight: 400;
  }

  .login-form h2 {
    margin-top: 30%;
    margin-bottom: 40px;
  }

  .login-form input[type="email"],
  .login-form input[type="password"] {
    height: 30px;
    width: 340px;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .login-form button {
    height: 60px;
    width: 340px;
    font-size: 20px;
    background-color: var(--indigo);
    color: var(--platinum);
    border-radius: 10px;
  }

  .login-form a {
    font-size: 20px;
    padding-right: 20px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #slogan {
    color: white;
    text-align: center;
    height: 100vh;
    font-size: clamp(30px, 50px, 60px);
    font-weight: bold;
    background-image: url("{% static 'img/background.jpg'%}");
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #slogan #text {
    padding-left: 10vh;
    padding-top: 20vh;
    height: 50%;
    width: 50%;
    font-size: 10vh;
    text-align: left;
  }

  #title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }

  #types {
    height: 83vh;
    width: 100vw;
  }

  #category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 20px auto;
    text-align: center;
    border: #000;
    width: 100%;
  }

  #brand {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 60px;
  }

  #brand-upper,
  #brand-lower {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 20px auto;
    text-align: center;
    border: #000;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 20px auto;
    text-align: center;
    border: #000;
    width: 100%;
  }

  #vroom {
    color: white;
    padding-top: 20vh;
    height: 91vh;
    background-image: url("{% static 'img/why-vroom.jpg'%}");
    opacity: 0.98;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #vroom-title {
    font-size: 10vh;
    font-weight: bold;
    text-align: center;
  }

  #vroom-list {
    width: 80vw;
    font-size: 3vh;
    font-weight: 500;
    padding-top: 5vh;
    line-height: 5vh;
    padding-left: 10vw;
  }

  #bookBtn {
    background-color: transparent;
    color: var(--platinum);
    border: 2px solid var(--platinum);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  #bookBtn:hover {
    background-color: var(--indigo);
    color: var(--platinum);
  }
</style>

{% endblock %}
