{% extends 'partials/base.html' %} {% load static %} {% block title %} Password
Reset {% endblock %} {% block content %}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper" style="margin-left: 20px">
      <h3 style="margin-top: 110px; margin-bottom: 30px">Password reset</h3>

      <p style="margin-bottom: 10px">
        Forgotten your password? Enter your email address below, and we’ll email
        instructions for setting a new one.
      </p>

      <form class="form" method="POST" style="margin-bottom: 270px">
        {% csrf_token %} {{form.as_p}}
        <button
          class="btn btn--sub btn--lg my-md"
          type="submit"
          style="
            background-color: #2f6690;
            color: white;
            padding: 10px 20px;
            margin-top: 15px;
          "
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</main>

{% endblock content %}
