{% extends 'partials/base.html' %} 
{% load static %} 
{% block title %} VROOM - Password Reset {% endblock %} 

{% block content %}
<style>
  .login-link {
    font-weight: bold;
    color: #2f6690;
  }
</style>

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper" style="margin-left: 20px">
      <h3 style="margin-top: 110px; margin-bottom: 35px">
        Password reset complete
      </h3>

      <p style="margin-bottom: 310px">
        Your password has been set. You may go ahead and
        <a class="login-link" href="{% url 'login' %}">log in now</a>.
      </p>
    </div>
  </div>
</main>

{% endblock content %}
