{% extends 'partials/base.html' %} 
{% load static %} 
{% block title %} VROOM - Password Reset {% endblock %} 

{% block content %}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper" style="margin-left: 20px">
      <h3 style="margin-top: 110px; margin-bottom: 35px">
        Password reset sent
      </h3>

      <p style="margin-bottom: 20px">
        We’ve emailed you instructions for setting your password, if an account
        exists with the email you entered. You should receive them shortly.
      </p>

      <br />

      <p style="margin-bottom: 295px">
        If you don’t receive an email, please make sure you’ve entered the
        address you registered with, and check your spam folder.
      </p>
    </div>
  </div>
</main>

{% endblock content %}
