{% extends 'partials/base.html' %} 
{% load static %} 
{% block title %} VROOM - Signup {%endblock %} 

{% block content %}
<div class="main-container">
  <div class="left-panel" style="margin-left: 80px">
    <img src="{% static 'img/vehicle.jpg' %}" alt="Vehicle Image" />
  </div>
  <div class="right-panel" style="margin-right: 80px">
    <h2>Sign Up</h2>
    <form id="signup-form" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          placeholder="Enter your first name"
          required
        />
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Enter your last name"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
          required
        />
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="Confirm your password"
          required
        />
      </div>
      <button class="button" type="submit">Register</button>

      <div class="login-link">
        <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
        {% if messages %} 
          {% for message in messages %} 
            {% if message.tags == 'error' %}
              <p class="error">{{ message }}</p>
            {% elif message.tags == 'success' %}
              <p class="success">{{ message }}</p>
            {% endif %} 
          {% endfor %} 
        {% endif %}
      </div>
    </form>
  </div>
</div>

<style>
  :root {
    --primary-color: #2f6690;
    --secondary-color: #16425b;
    --error-color: red;
    --success-color: green;
  }

  body {
      font-family: "Montserrat", sans-serif;
      margin: 0;
      padding: 0;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0 5%;
    margin-top: 9.8vh;
    min-height: 65.6vh;
  }

  .left-panel {
      flex: 1;
      padding: 20px;
  }

  .right-panel {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .right-panel h2 {
      margin-right: 210px;
  }

  .right-panel form {
      margin-top: 30px;
  }

  img {
      max-width: 100%;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }

  .button {
    padding: 8px 16px;
    border: none;
    background-color: var(--lapis);
    color: var(--platinum);
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    font-size: medium;
    margin-top: 20px;
  }

  .button:hover {
    background-color: #16425b;
  }

  .login-link {
      margin-top: 20px;
  }

  .login-link a {
      color: var(--primary-color);
      text-decoration: none;
  }

  .login-link a:hover {
      text-decoration: underline;
  }

  .error {
      color: var(--error-color);
      font-weight: bold;
  }

  .success {
      color: var(--success-color);
      font-weight: bold;
  }

</style>
{% endblock %}
