{% extends 'partials/base.html' %} {% load static %} {% block title %} VROOM -
Staff profile{% endblock %} {% block content %}

<div class="main-container">
  <div class="details">
    <h2>Staff Profile</h2>
    {% for message in messages %} {% if message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% elif message.tags == 'success' %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %} {% endfor %}

    <button class="button" id="profileBtn">Profile</button>
    <button class="button" id="changePasswordBtn">Change Password</button>

    <!-- Profile section -->
    <div id="profileSection" class="section">
      <h3>Profile Information</h3>
      <p style="margin-top: 20px; margin-bottom: 10px">
        First Name: <span id="firstName">{{ user.first_name }}</span>
      </p>
      <p style="margin-bottom: 10px">
        Last Name: <span id="lastName">{{ user.last_name }}</span>
      </p>
      <p style="margin-bottom: 10px">
        Username: <span id="username">{{ user.username }}</span>
      </p>
      <p style="margin-bottom: 10px">
        Email: <span id="email">{{ user.email }}</span>
      </p>
      <button class="button" id="editProfileBtn">Edit Profile</button>
      <div id="editProfileForm" style="display: none">
        <!-- Edit Profile form -->
        <form
          id="updateProfileForm"
          method="POST"
          action="{% url 'staff_profile' %}"
        >
          {% csrf_token %}
          <input type="hidden" name="update_profile" />
          <label for="editFirstName">First Name:</label>
          <input
            type="text"
            id="editFirstName"
            name="first_name"
            value="{{ user.first_name }}"
          /><br />

          <label for="editLastName">Last Name:</label>
          <input
            type="text"
            id="editLastName"
            name="last_name"
            value="{{ user.last_name }}"
          /><br />

          <label for="editUsername">Username:</label>
          <input
            type="text"
            id="editUsername"
            name="username"
            value="{{ user.username }}"
          /><br />
          
          <label for="editEmail">Email:</label>
          <input
            type="email"
            id="editEmail"
            name="email"
            value="{{ user.email }}"
          /><br />

          <button class="button" type="submit">Update Profile</button>
        </form>
      </div>
    </div>

    <!-- Change Password section -->
    <div id="changePasswordSection" class="section" style="display: none">
      <h3>Change Password</h3>
      <form
        id="changePasswordForm"
        method="POST"
        action="{% url 'staff_profile' %}"
      >
        {% csrf_token %}
        <input type="hidden" name="change_password" />
        <label for="oldPassword">Old Password:</label>
        <input
          type="password"
          id="oldPassword"
          name="old_password"
          required
        /><br />

        <label for="newPassword">New Password:</label>
        <input
          type="password"
          id="newPassword"
          name="new_password1"
          required
        /><br />

        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="new_password2"
          required
        /><br />

        <button class="button" type="submit">Update Password</button>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var editProfileBtn = document.getElementById("editProfileBtn");
    var editProfileForm = document.getElementById("editProfileForm");
    var changePasswordBtn = document.getElementById("changePasswordBtn");
    var changePasswordSection = document.getElementById(
      "changePasswordSection"
    );
    var profileSection = document.getElementById("profileSection");
    var profileBtn = document.getElementById("profileBtn");

    profileBtn.addEventListener("click", function () {
      editProfileForm.style.display = "none";
      changePasswordSection.style.display = "none";
      profileSection.style.display = "block";
    });

    editProfileBtn.addEventListener("click", function () {
      editProfileForm.style.display = "block";
      changePasswordSection.style.display = "none";
      profileSection.style.display = "block";
    });

    changePasswordBtn.addEventListener("click", function () {
      editProfileForm.style.display = "none";
      changePasswordSection.style.display = "block";
      profileSection.style.display = "none";
    });
  });
</script>

<style>
  body {
    font-family: "Montserrat", sans-serif;
  }

  .main-container {
    width: 90vw;
    margin: 0 5%;
    margin-top: 9.8vh;
    min-height: 65.6vh;
  }

  .details {
    padding: 40px;
  }

  h2,
  h3 {
    color: #16425b;
  }

  .button {
    padding: 8px 16px;
    border: none;
    background-color: var(--lapis);
    color: var(--platinum);
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    font-size: medium;
    margin-top: 20px;
  }

  .button:hover {
    background-color: var(--indigo);
  }

  .section {
    margin-top: 20px;
  }

  form {
    margin-top: 10px;
  }

  form label {
    display: block;
    margin-bottom: 5px;
  }

  form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }

  form button {
    padding: 8px 20px;
    background-color: #16425b;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  form button:hover {
    background-color: #2f6690;
  }

  /* Customizing alert colors */
  .alert-danger {
    color: red;
    font-weight: bold;
  }

  .alert-success {
    color: green;
    font-weight: bold;
  }

  /* Adjusting message display */
  .message {
    margin-top: 20px;
    max-width: 300px;
    word-wrap: break-word; /* Allow long messages to wrap */
  }
</style>
{% endblock %}
